<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="CRM" connectionString="AuthType=Office365;Url=https://rbhyd12345678.crm11.dynamics.com; Username=arunav@rbhyd12345678.onmicrosoft.com; Password=Qwerty@123" />
  </connectionStrings>
</configuration>